/*Topic 13 Animation Using Pseudo-classes*/
#myCarWreck {
    width: 100px;
    height: 60px;
    background: red;
    position: relative;
    float: left;
    animation: mymove1 3s 1;
    animation-direction: normal;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    transition: transform 2s;
}

#dallinsCarWreck {
    display: block;
    margin-left: 250px;
    width: auto;
    height: 60px;
    background: yellow;
}

#myCarWreck:hover {
    animation-play-state: running;
    transform: rotate(180deg);
}

@keyframes mymove1 {
    from {
        left: 0px;
    }

    to {
        left: 190px;
    }
}

/*Topic 9 Standard JS Events*/

#myDIV {
    margin: 25px;
    width: 550px;
    height: 100px;
    background: orange;
    position: relative;
    font-size: 20px;
}

@keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }
}

.animated_div {
    width: 80px;
    height: 60px;
    background: #92B901;
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    float: left;
    margin: 5px;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.animated_div:hover {
    width: 400px;
}

/* Topic 12 Transforms with Pseudo-Classes*/
.bigger {
    background-color: darkgray !important;
}

.bigger:hover {
    background-color: cornsilk !important;
}

.bigger:focus {
    transform: matrix(1.5, 0, 0, 1.5, 35, 0);
    background-color: cornsilk !important;
}

/*Topic 7 Manipulating CSS ClassNames with JS*/
.colorMe {
    color: aquamarine;
}
